package templates

templ About() {
 <script>
    window.SMWCentral.SPCPlayer.Backend.stopSPC()
  </script>
	
	<div>
		<img src="/static/img/panda.gif" alt="sleeping-panda-missing :(" width="64px" height="64px"/>
		<h1>What <strong>about</strong> it?</h1>
	</div>
}
