package templates

templ Home() {
  <div>
    <h1 style="user-select: none;">Welcome</h1>
    <img style="user-select: none;" src="/static/img/dancing-gopher.gif" alt="dancing-gopher-missing :(" width="64px" height="64px" />
  </div>
}
