package templates

templ Playground() {
	<div>
		<button class="button" type="button" hx-post="/htmx-post" hx-target="#changeme">htmx</button>
		<div>
			<p id="changeme">
				HELLO HTMX
			</p>
		</div>
	</div>
}
